<div class="page-header">
  <h2 class="page-title" ng-bind="event"></h2>
</div>
<form name="contestForm" class="form-horizontal">
  <div class="form-group" ng-repeat="solve in solves">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border" ng-bind="'Solve ' + ($index+1)"></legend>
      <div class="col-sm-12">
        <p class="scramble" ng-bind="solve.scramble"></p>
      </div>
      <div class="col-sm-4 result-row">
        <div class="input-group">
          <div class="input-group-addon">Time</div>
          <input type="text" class="form-control solve-input" maxlength="9" ng-model="solve.time" required ng-pattern="/^(([0-5]?[0-9]:)?[0-5])?[0-9].[0-9][0-9][0-9]?$/">
        </div>
      </div>
      <div class="col-sm-4 col-xs-8 result-row">
        <div class="input-group">
          <div class="btn-group" role="group">
            <button type="button" class="btn btn-success btn-sm" tabindex="-1" ng-click="solve.penalty = ''"><i class="fa fa-check-circle"></i> OK</button>
            <button type="button" class="btn btn-warning btn-sm" tabindex="-1" ng-click="solve.penalty = '(+2)'"><i class="fa fa-plus-circle"></i> +2</button>
            <button type="button" class="btn btn-danger btn-sm" tabindex="-1" ng-click="solve.penalty = '(DNF)'"><i class="fa fa-times-circle"></i> DNF</button>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 result-row">
        <pre class="result" ng-bind="solve.time + ' ' + solve.penalty"></pre>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <hr class="divider"/>
    <div class="pull-right btn-right">
      <button class="btn btn-warning" tabindex="-1" type="button" ng-click="back()"><i class="fa fa-backward"> Back</i></button>
      <button class="btn btn-info" tabindex="-1" type="button" ng-click="info()"><i class="fa fa-info-circle"> Info</i></button>
      <button class="btn btn-primary" tabindex="-1" type="button" ng-click="save()" ng-disabled="!changed"><i class="fa fa-save"> Save</i></button>
      <button class="btn btn-success" tabindex="-1" type="submit" ng-click="submit()" ng-disabled="!(contestForm.$valid && valid)"><i class="fa fa-upload"></i> Submit</button>
    </div>
  </div>
</form>
<br>