<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <!-- jQuery -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Angular -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="/public/components/home/controller.js"></script>
    <!-- Title -->
    <link rel="shortcut icon" type="image/x-icon" href="/public/images/cubeLogo.png"/>
    <title>NU Cubing - Home</title>
</head>
<body ng-app="nuCubingApp" ng-controller="HomeController">
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" tabindex="-1"><img class="logo" alt="NU Cubing" src="/public/images/cubeLogo.png"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="active"><a href="/" tabindex="-1">Home</a></li>
                <li><a href="/profile" tabindex="-1">Profile</a></li>
                <li><a href="/contest" tabindex="-1">Contest</a></li>
                <li><a href="/results" tabindex="-1">Results</a></li>
                <li><a href="/links" tabindex="-1">Links</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/auth" tabindex="-1" ng-bind="authStatus"></a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to NU Cubing!</h1>
        <p>Weekly meetings are Tuesday from 6pm - 7pm at Snell 033</p>
        <p>Contact: NUCubers@gmail.com</p>
        <p>Login to participate in the weekly contest</p>
    </div>
</div>
</body>
</html>