<div class="page-header">
  <h2 class="page-title" ng-bind="event"></h2>
</div>
<div class="row">
  <div class="col-md-7 text-center">
    <p class="timer-scramble" ng-bind="scramble" ng-hide="done"></p>
    <p class="timer-display" ng-style="timerStyle" ng-bind="timer_display"></p>
    <h2 ng-bind="result + ' ' + eventFormat" ng-show="done"></h2>
  </div>
  <div class="col-md-5 text-center">
    <table class="table">
      <thead>
      <tr>
        <th class="text-center">#</th>
        <th class="text-center">Result</th>
        <th class="text-center">Penalty</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="solve in solves track by $index">
        <td ng-bind="$index+1"></td>
        <td ng-bind="solve.displayedResult"></td>
        <td class="timer-results-penalties">
          <div class="input-group">
            <div class="btn-group" role="group" ng-show="solve.completed">
              <button type="button" class="btn btn-success btn-xs" tabindex="-1" ng-click="updateResultWithPenalty(solve, '')"><i class="fa fa-check-circle"></i> OK</button>
              <button type="button" class="btn btn-warning btn-xs" tabindex="-1" ng-click="updateResultWithPenalty(solve, '(+2)')"><i class="fa fa-plus-circle"></i> +2</button>
              <button type="button" class="btn btn-danger btn-xs" tabindex="-1" ng-click="updateResultWithPenalty(solve, '(DNF)')"><i class="fa fa-times-circle"></i> DNF</button>
            </div>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-5 col-md-offset-7">
    <hr class="divider"/>
    <div class="pull-right btn-right">
      <button class="btn btn-warning" tabindex="-1" type="button" ng-click="back()"><i class="fa fa-backward"> Back</i></button>
      <button class="btn btn-info" tabindex="-1" type="button" ng-click="info()"><i class="fa fa-info-circle"> Info</i></button>
      <button class="btn btn-primary" tabindex="-1" type="button" ng-click="save()" ng-disabled="!changed"><i class="fa fa-save"> Save</i></button>
      <button class="btn btn-success" tabindex="-1" type="submit" ng-click="submit()" ng-disabled="!valid"><i class="fa fa-upload"></i> Submit</button>
    </div>
  </div>
</div>