.navbar, .navbar-inverse {
    border-radius:0px;
}

.logo {
    width:25px;
    height:25px;
    text-align:center;
    vertical-align:middle
}

.centered {
    text-align:center;
}

.centerModal {
    top:-2.5%;
}

.jumbotron-login {
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
}

.profilePic {
    margin-top:0px;
    margin-bottom:20px;
    margin-left:20px;
    margin-right:20px;
}