.navbar, .navbar-inverse {
    border-radius:0px;
}

.logo {
    width:25px;
    height:25px;
    text-align:center;
    vertical-align:middle
}

.centered {
    text-align:center;
}

.vertical-middle {
    vertical-align: middle;
}

.page-header {
    margin-top:0px;
}

.jumbotronLogin {
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
}

.panelBodyProfile {
    padding:0px;
}

.profilePic {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}

.result-row {
    margin-top:5px;
    margin-bottom:5px;
}

.table-results {
    margin-top:10px;
    margin-bottom:10px;
}

.solve-input {
    -webkit-transition:all linear 0.5s;
    transition:all linear 0.5s;
}

.solve-input.ng-invalid {
    background:#FFCCCC;
}

.solve-input.ng-valid {
    background:#BFFFBF;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.nv-file-over {
    border: dotted 3px red;
}
