.navbar, .navbar-inverse {
    border-radius:0px;
}

.logo {
    width:25px;
    height:25px;
    text-align:center;
    vertical-align:middle
}

.centered {
    text-align:center;
}

.centerModal {
    top:-2.5%;
}

.page-header {
    margin-top:0px;
}

.jumbotronLogin {
    padding-top:20px;
    padding-bottom:40px;
    padding-left:30px;
    padding-right:30px;
}

.panelBodyProfile {
    padding:0px;
}

.profilePic {
    margin-top:10px;
    margin-bottom:10px;
    margin-left:auto;
    margin-right:auto;
}