<div class="row">
  <div class="col-md-4 col-sm-6 text-center">
    <h4 ng-bind="userProfile.firstName + ' ' + userProfile.lastName"></h4>
    <img ng-src="http://graph.facebook.com/{{userProfile.facebook_id}}/picture?width=250&height=250" class=" profilePic">
  </div>
  <!-- Personal Bests -->
  <div class="col-md-8 col-sm-6">
    <h4 class="text-center">Current Personal Records</h4>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-results">
        <thead>
        <tr>
          <th style="width:40%;padding-bottom:1px;">Event</th>
          <th style="width:30%;padding-bottom:1px;">Single</th>
          <th style="width:30%;padding-bottom:1px;">Average</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in personalBests | orderBy:'index'">
          <td style="width:40%;font-weight:bold;" class="td-profile" ng-bind="result.name"></td>
          <td style="width:30%;" class="td-profile" ng-bind="result.single"></td>
          <td style="width:30%;" class="td-profile" ng-bind="result.average"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="row">
  <ul class="nav nav-tabs">
    <li role="presentation" ng-class="{active:(displayFormat=='Week')}"><a ng-click="displayFormat='Week'">Results by Week</a></li>
    <li role="presentation" ng-class="{active:(displayFormat=='Event')}"><a ng-click="displayFormat='Event'">Results by Event</a></li>
  </ul>
  <!-- Results by Week -->
  <div class="col-xs-12" ng-repeat="(week, results) in resultsByWeek" ng-if="displayFormat=='Week'">
    <h4><span class="label label-primary" ng-bind="displayWeek(week)"></span></h4>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-results">
        <thead>
        <tr>
          <th style="width:30%;padding-bottom:1px;">Event</th>
          <th style="width:15%;padding-bottom:1px;">Best</th>
          <th style="width:15%;padding-bottom:1px;">Average</th>
          <th style="width:40%;padding-bottom:1px;">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results | orderBy:'index'">
          <td style="width:30%;font-weight:bold;" class="td-profile" ng-bind="result.event"></td>
          <td style="width:15%;" class="td-profile" ng-bind="result.best"></td>
          <td style="width:15%;" class="td-profile" ng-bind="result.average"></td>
          <td style="width:40%;" class="td-profile"><span ng-repeat="detail in result.details track by $index" ng-bind="detail + '&emsp;'"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- Results by Event -->
  <div class="col-xs-12" ng-repeat="(event, results) in resultsByEvent | orderObjectBy:'index'" ng-if="displayFormat=='Event'">
    <h4><span class="label label-warning" ng-bind="results.name"></span></h4>
    <div class="table-responsive">
      <table class="table table-condensed table-striped table-results">
        <thead>
        <tr>
          <th style="width:30%;padding-bottom:1px;">Week</th>
          <th style="width:15%;padding-bottom:1px;">Best</th>
          <th style="width:15%;padding-bottom:1px;">Average</th>
          <th style="width:40%;padding-bottom:1px;">Details</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in results.results | orderObjectBy:'-week'">
          <td style="width:30%;font-weight:bold;" class="td-profile" ng-bind="displayWeek(result.week)"></td>
          <td style="width:15%;" class="td-profile" ng-bind="result.best"></td>
          <td style="width:15%;" class="td-profile" ng-bind="result.average"></td>
          <td style="width:40%;" class="td-profile"><span ng-repeat="detail in result.details track by $index" ng-bind="detail + '&emsp;'"></span></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>