.navbar, .navbar-inverse {
  border-radius: 0px;
  min-height: 40px;
}

.navbar-collapse {
  padding: 0px;
}

.navbar-collapse ul li a {
  padding: 10px 15px;
}

ul.nav.nav-tabs {
  margin-bottom: 10px;
}

.panel-heading, .panel-footer {
  padding: 8px auto;
}

.panel-body {
  padding: 12px auto;
}

.vertical-middle {
  vertical-align: middle;
}

.page-header {
  margin-top: 0px;
  padding: 0px;
}

.page-title {
  margin-top: 10px;
}

.panelBodyProfile {
  padding: 0px;
}

.profilePic {
  margin: auto auto 20px;
}

.table-responsive {
  border: 0px;
}

td.td-profile.ng-binding, td.td-results.ng-binding {
  font-size: 10pt;
  padding: 3px auto;
}

.scramble {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: monospace;
  white-space: pre-wrap;
}

.input-group-addon {
  height: 25px;
  border-radius: 0px;
}

.solve-input {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  height: 30px;
  border-radius: 0px;
}

.solve-input.ng-invalid {
  background: #FFCCCC;
}

.solve-input.ng-valid {
  background: #BFFFBF;
}

.result-row {
  margin: 5px auto;
}

.result {
  height: 30px;
  margin-bottom: 0px;
  padding: 5px auto;
}

.timer-scramble {
  font-size: 16pt;
  font-family: monospace;
  white-space: pre-wrap;
}

.timer-display {
  font-size: 96pt;
}

.timer-results-penalties {
  width: 150px;
}

.divider {
  margin: 0px 15px 10px;
}

.btn-right {
  margin-right: 15px;
}

select {
  margin: auto 5px;
}

.my-drop-zone {
  border: dotted 3px lightgray;
}

.nv-file-over {
  border: dotted 3px red;
}

.user a {
  text-decoration: none;
}

.user a img, .user a h4 {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.btn, .panel, .label, .form-group, pre {
  border-radius: 0px;
}

.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0px;
}

fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 5px 5px 5px !important;
  margin: 0 0 1.5em 0 !important;
  -webkit-box-shadow:  0px 0px 0px 0px #000;
  box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
  width: inherit;
  padding: 0 10px;
  margin-bottom: 0px;
  border-bottom: none;
}
