<div class="page-header">
  <h2 class="page-title">3x3 fewest moves</h2>
</div>
<form name="fmcContestForm" class="form-horizontal">
  <div class="form-group" ng-repeat="solve in solves">
    <fieldset class="scheduler-border">
      <legend class="scheduler-border" ng-bind="'Attempt ' + ($index+1)"></legend>
      <div class="col-sm-12">
        <p class="scramble" ng-bind="solve.scramble"></p>
      </div>
      <div class="col-sm-10 result-row">
        <div class="input-group">
          <div class="input-group-addon">Solution</div>
          <input type="text" class="form-control solve-input" ng-model="solve.solution">
        </div>
      </div>
      <div class="col-sm-2 col-xs-12 result-row">
        <pre class="result" ng-bind="solve.moves"></pre>
      </div>
    </fieldset>
  </div>
  <div class="row">
    <hr class="divider"/>
    <div class="pull-right btn-right">
      <button class="btn btn-warning" tabindex="-1" type="button" ng-click="back()"><i class="fa fa-backward"> Back</i></button>
      <button class="btn btn-info" tabindex="-1" type="button" ng-click="info()"><i class="fa fa-info-circle"> Info</i></button>
      <button class="btn btn-primary" tabindex="-1" type="button" ng-click="save()" ng-disabled="!changed"><i class="fa fa-save"> Save</i></button>
      <button class="btn btn-success" tabindex="-1" type="submit" ng-click="submit()" ng-disabled="!valid"><i class="fa fa-upload"></i> Submit</button>
    </div>
  </div>
</form>
<br>